image: node:20.15.0

stages:
  - install
  - lint
  - build
  - test

variables:
  NODE_ENV: development

cache:
  key: "node-modules-${CI_COMMIT_REF_SLUG}-$(cat package-lock.json | sha256sum | cut -d ' ' -f1)"
  paths:
    - node_modules/

default:
  interruptible: true

install-deps:
  stage: install
  script:
    - apt-get update && apt-get install -y libxtst-dev libx11-dev libxkbfile-dev
    - npm ci

lint:
  stage: lint
  script:
    - npm run lint:js
  allow_failure: true

build:
  stage: build
  script:
    - npm run build

check-types:
  stage: test
  script:
    - npm run check-types

unit-tests:
  stage: test
  script:
    - npm run test:unit
