.MainPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MainPage__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: white;
}

.MainPage__body.darkMode {
  background-color: dark;
}
