@import url("../_css_variables.scss");

button {
    min-height: unset;
    min-width: unset;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.ServersSidebar {
    height: 100vh;
    padding-top: 10px;
    background-color: var(--sidebar-background);
    border-right: 1px solid rgba(var(--sidebar-border-color-rgb), 0.08);

    &__droppable {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.ServerButton {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: rgba(var(--sidebar-text-color-rgb), 0.16);
    margin-bottom: 12px;
    transition: background-color .3s ease, border-color .3s ease, box-shadow .3s ease;
    position: relative;
    cursor: pointer;

    &.withImage {
        border: none;

        &:after {
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            border-radius: 8px;
            transition: all .3s ease;
        }

        &:hover, &.active {
            &:after {
                box-shadow: inset 0 0 0 3px var(--sidebar-team-bg);
            }
        }
    }

    &.showDot {
        &:before {
            content: attr(data-index);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-25%, 25%);
            width: 16px;
            height: 16px;
            background: #000;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            text-align: center;
            z-index: 100;
        }
    }

    &__content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        overflow: hidden;
    }

    &__badge {
        display: inline-block;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        background-color: #E91E63;
        color: #FFF;
        min-width: 17px;
        min-height: 17px;
        padding: 0 6px;
        border-radius: 8px;
        font-size: 10px;
        letter-spacing: 0;
        line-height: 17px;
        text-align: center;
        transform: translate(6px, -8px);
    }

    &__unread {
        position: absolute;
        z-index: 1;
        top: -6px;
        right: -6px;
        width: 8px;
        height: 8px;
        background-color: #E91E63;
        border-radius: 100%;
    }

    &:hover {
        border-color: var(--sidebar-team-bg);
        background-color: rgba(var(--sidebar-text-color-rgb), 0.3);
        box-shadow: 0 0 0 3px rgba(var(--sidebar-text-color-rgb), 0.3);
    }

    &:active {
        border-color: var(--sidebar-team-bg);
        box-shadow: 0 0 0 3px var(--sidebar-text-active-border);
    }

    &.active {
        border-color: var(--sidebar-team-bg);
        background-color: rgba(var(--sidebar-text-color-rgb), 0.3);
        box-shadow: 0 0 0 3px var(--sidebar-text-active-border);
    }

    &__initial {
        font-size: 14px;
        text-transform: uppercase;
        color: rgb(var(--sidebar-header-text-color-rgb));
    }
}
