@import url("../_css_variables.scss");

button {
    min-height: unset;
    min-width: unset;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.ServersSidebar {
    height: 100vh;
    padding-top: 10px;
    background-color: var(--sidebar-background);
    border-right: 1px solid rgba(var(--sidebar-border-color-rgb), 0.08);

    &__droppable {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.ServerButton {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: rgba(var(--sidebar-text-color-rgb), 0.16);
    margin-bottom: 12px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        border-color: var(--sidebar-team-bg);
        background-color: rgba(var(--sidebar-text-color-rgb), 0.3);
        box-shadow: 0 0 0 3px rgba(var(--sidebar-text-color-rgb), 0.3);
    }

    &:active {
        border-color: var(--sidebar-team-bg);
        box-shadow: 0 0 0 3px var(--sidebar-text-active-border);
    }

    &.active {
        border-color: var(--sidebar-team-bg);
        background-color: rgba(var(--sidebar-text-color-rgb), 0.3);
        box-shadow: 0 0 0 3px var(--sidebar-text-active-border);
    }

    &__initial {
        font-size: 14px;
        text-transform: uppercase;
    }
}
