@import url("../_css_variables.scss");

.ServersSidebar {
    height: 100vh;
    background-color: #1b1d22;
    border-right: 1px solid rgba(221, 223, 228, 0.12);
    padding-top: 10px;

    &__droppable {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.ServerButton {
    min-height: unset;
    min-width: unset;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background-color: red;
    border: none;
}
